/* Global Styles */
body {
    font-family: 'Georgia', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, #f0f8ff 0%, #e6e6fa 100%);
    color: black;
    transition: background 1s, color 1s;
}

/* Header & Footer Styles */
header, footer {
    background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
    color: white;
    padding: 1rem;
    text-align: center;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
}

.header-left {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Navigation Styles */
.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    opacity: 0;
    transition: opacity 1s;
    margin-top: 30px;
    margin-bottom: 40px;
}

.nav-block {
    display: block;
    margin: 1rem;
    padding: 2rem;
    background-color: #007bb5;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
    position: relative;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    width: 200px;
}

.nav-block:hover {
    background-color: #005f99;
    transform: scale(1.05);
}

.nav-block::after {
    content: attr(data-description);
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    white-space: nowrap;
    font-size: 1rem;
}

.nav-block:hover::after {
    opacity: 1;
}

/* Main Content Styles */
main {
    margin-top: 0px;
    font-size: 20px;
    text-align: center;
    display: none;
    opacity: 0;
    transition: opacity 1.5s ease-in-out, background 1s;
    background: linear-gradient(90deg, #f0f8ff 0%, #e6e6fa 100%);
}

section {
    margin-left: 300px;
    margin-right: 300px;
}

section p {
    line-height: 1.5;
    text-align: justify;
    max-width: 1600px;
    width: 100%;
}

/* Image Carousel Styles */
.image-carousel {
    width: 60%;
    margin: 50px auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border: 10px solid white;
    background: #e6e6e6;
    max-width: 1200px;
    height: 300px;
    margin-bottom: 100px;
}

.carousel-track {
    display: flex;
    width: calc(300px * 9);
    animation: scroll 30s linear infinite; /* Adjust the time to make the scrolling slower */
}

.carousel-slide {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.carousel-slide img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.carousel-slide img:hover {
    transform: scale(1.05);
}

/* Define an animation called scroll for horizontal scrolling */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-300px * 9)); }
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Light/Dark Mode Styles */
.light-mode {
    background: linear-gradient(90deg, #f0f8ff 0%, #e6e6fa 100%);
    color: black;
}

.dark-mode {
    background: linear-gradient(90deg, #121212 0%, #333333 100%);
    color: white;
}

.dark-mode header,
.dark-mode footer {
    background: linear-gradient(90deg, #005f99 0%, #007bb5 100%);
}

.dark-mode .nav-block {
    background-color: #007bb5;
}

.dark-mode .nav-block:hover {
    background-color: #005f99;
}

.dark-mode .nav-block::after {
    background-color: #fff;
    color: #333;
}

.dark-mode main {
    background: linear-gradient(90deg, #121212 0%, #333333 100%);
}

/* Intro Overlay Styles */
.intro-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/cloud.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 10;
    transition: opacity 1.5s ease-in-out, background-image 1s linear;
}

.intro-overlay h1 {
    font-size: 3rem;
    margin: 0;
    color: white;
}

.intro-overlay button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #005f99;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 1s;
}

.intro-overlay button:hover {
    background-color: #007bb5;
}

.overlay-dark-mode .intro-overlay {
    background-color: #121212;
    color: white;
    background-image: url('img/sky.jpg');
}

.overlay-dark-mode .intro-overlay button {
    background-color: #007bb5;
    color: white;
}

.overlay-dark-mode .intro-overlay button:hover {
    background-color: #0099e6;
}

/* Toggle Button Styles */
#overlay-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

#overlay-toggle img {
    width: 30px;
    height: 30px;
}

#mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 1rem; 
    right: 1rem; 
}

#mode-toggle img {
    width: 30px;
    height: 30px;
}