/* Global Styles */
body {
  font-family: 'Georgia', sans-serif; 
  margin: 0; 
  padding: 0; 
  background: linear-gradient(90deg, #f0f8ff 0%, #e6e6fa 100%); 
  color: black; 
  transition: background-color 1s, color 1s; 
}

/* Header Styles */
header {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%); 
  color: white; 
  padding: 1rem; 
  text-align: center; 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
}

/* Avatar Styles */
.header-left {
  display: flex; 
  align-items: center; 
}

.avatar {
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  overflow: hidden; 
  margin-right: 1rem; 
}

.avatar img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

/* Header Buttons Styles */
.header-buttons {
  display: flex; 
  align-items: center; 
}

#mode-toggle {
  background: none; 
  border: none; 
  cursor: pointer; 
  outline: none; 
}

#mode-toggle img {
  width: 30px; 
  height: 30px; 
}

/* Navigation Bar Styles */
.nav-bar {
  display: flex; 
}

.nav-bar ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
}

.nav-bar ul li {
  margin: 0 15px; 
  transition: transform 0.3s ease-in-out; 
}

.nav-bar ul li a {
  text-decoration: none; 
  color: white; 
  padding: 15px; 
  display: block; 
}

.nav-bar ul li:hover {
  transform: scale(1.1); 
}

.nav-bar ul li a:hover,
.nav-bar ul li a.active {
    background-color: #2776e5;
    color: white;
    border-radius: 4px;
}

/* Main Content Styles */
main {
  padding: 2rem; 
  text-align: center; 
  opacity: 0; 
  transition: opacity 1.5s ease-in-out; 
  background: linear-gradient(90deg, #f0f8ff 0%, #e6e6fa 100%); 
}

/* Footer Styles */
footer {
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%); 
  color: white; 
  text-align: center; 
  padding: 1rem; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
}

/* Light Mode Styles */
.light-mode {
  background: linear-gradient(90deg, #f0f8ff 0%, #e6e6fa 100%); 
  color: black; 
}

/* Dark Mode Styles */
.dark-mode {
  background: linear-gradient(90deg, #121212 0%, #333333 100%); 
  color: white; 
}

.dark-mode main {
  background: linear-gradient(90deg, #121212 0%, #333333 100%); 
}

.dark-mode header,
.dark-mode footer {
  background: linear-gradient(90deg, #005f99 0%, #007bb5 100%); 
}

/* Quiz Container Styles */
.quiz-container {
  justify-content: center; 
  flex-wrap: wrap;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 76, 255, 0.53);
  padding: 10px;
  margin: 60px 100px 100px 100px;
  max-width: 1800px; 
  max-height: 1500px; 
  overflow: auto; 
}

.dark-mode .quiz-container {
  background: #575357;
  box-shadow: 0 0 10px rgba(87, 0, 137, 0.21);
}

/* Question Container Styles */
#question-container {
  text-align: center;
  margin-top: 10px;
}

/* Question Styles */
#question {
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Start Container Styles */
#start-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  gap: 40px;
}

/* Name Input Styles */
#name-input {
  display: block;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  width: 200px;
  height: 30px;
}

#name-input.hide {
  display: none;
}

/* Start Quiz Button Styles */
#start-quiz {
  display: block;
  padding: 10px 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #005f99;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 1s;
}

#start-quiz:hover {
  background-color: #007bb5;
}

.dark-mode #start-quiz:hover {
  background-color: #0099e6;
}

#start-quiz.hide {
  display: none;
}

/* End Quiz Button Styles */
#end-quiz {
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #005f99;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 1s;
}

#end-quiz:hover {
  background-color: #007bb5;
}

.dark-mode #end-quiz:hover {
  background-color: #0099e6;
}

#end-quiz.hide {
  display: none;
}

/* Options Container Styles */
#options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-top: 40px;
}

/* Option Styles */
.option {
  font-size: 25px;
  background-color: #e8dfdf;
  border-radius: 10px;
  cursor: pointer;
  padding: 30px; 
  margin: 10px; 
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.dark-mode .option {
  background-color: #3e3e3e;
}

.option:hover {
  background-color: #d0d0d0;
}

.dark-mode .option:hover {
  background-color: #353535;
}
/* Correct Option Styles */
.option.correct {
  background-color: #4caf50;
  color: #fff;
}

.dark-mode .option.correct {
  background-color: #4caf50;
  color: #fff;
}

/* Incorrect Option Styles */
.option.incorrect {
  background-color: #f44336;
  color: #fff;
}

.dark-mode .option.incorrect {
  background-color: #f44336;
  color: #fff;
}

/* Timer Container Styles */
#timer-container {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

/* Timer Styles */
#timer {
  font-size: 30px;
  font-weight: bold;
}

/* Result Container Styles */
#result-container {
  margin-bottom: 10px;
  text-align: center;
}

/* Result Styles */
#result {
  font-size: 25px;
  font-weight: bold;
}

#result.hide {
  display: none;
}

/* Question Indicator Styles */
#question-indicator {
  font-size: 25px;
  font-weight: 550;
  margin-bottom: 20px;
  text-align: left;
}

#question-indicator.hide {
  display: none;
}

/* Leaderboard Container Styles */
#leaderboard-container {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Leaderboard Table Styles */
#leaderboard-table {
  width: 100%;
  border-collapse: collapse;
}

#leaderboard-table th,
#leaderboard-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

#leaderboard-table th {
  background-color: #f2f2f2;
}

.dark-mode #leaderboard-table th{
  background-color: #6e6e6e;
}

#leaderboard-container.hide {
  display: none;
}